* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body
{
  width: 100%;
  height: 100vh;
  overflow: hidden;
  font-family: 'Fredoka One', cursive;
  background-image: linear-gradient(to right, #6499E9, #9EDDFF,#A6F6FF);
  color: #150404;
}

h2
{
  display: flex;
  align-items: center;
  margin-bottom: 2vw;
  font-size: 2rem;
  text-indent: 10px;
  justify-content: center;
}

h2 i
{
  margin-left: 1vw;
  color: #04cafb;
}

.container
{
  width: 90%;
  max-width: 34em;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

#new-task
{
  position: relative;
  background-color: #ffffff;
  padding: 1.8em 1.25em;
  border-radius: 0.3em;
  box-shadow: 0 1.25em 1.8em rgba(321, 124, 148, 0.15);
  display: grid;
  grid-template-columns: 9fr 3fr;
  gap: 1em;
}

#new-task input
{
  font-family: 'Poppins', sans-serif;
  font-size: 1em;
  border: none;
  border-bottom: 2px solid #d1d3d4;
  padding: 0.8em 0.5em;
  color: #111111;
  font-weight: 500;
}

#new-task input:focus
{
  outline: none;
  border-color: #0b87ff;
}

#new-task button
{
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 16px;
  background-color: #3CCF4E;
  color: #fff;
  outline: none;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

#tasks
{
  background-color: #ffffff;
  position: relative;
  padding: 1.8em 1.25em;
  margin-top: 3.8em;
  width: 100%;
  box-shadow: 0 1.25em 1.8em rgba(1, 24, 48, 0.15);
  border-radius: 0.6em;
}

.task
{
  background-color: #ffffff;
  padding: 0.3em 0.6em;
  margin-top: 0.6em;
  display: flex;
  align-items: center;
  border-bottom: 2px solid #d1d3d4;
  cursor: pointer;
}

.task span
{
  font-family: 'Poppins', sans-serif;
  font-size: 0.9em;
  font-weight: 400;
  flex-grow: 1;
}

.task button
{
  color: #ffffff;
  padding: 0.8em 0;
  width: 2.8em;
  border-radius: 0.3em;
  border: none;
  outline: none;
  cursor: pointer;
}

.task input[type='checkbox']
{
  margin-right: 1em;
}

.delete
{
  background-color: #f20909;
}

.edit
{
  background-color: #06FF00;
  margin-left: auto;
  margin-right: 3em;
}

.completed
 {
  text-decoration: line-through;
}


#filter-container
{
  display: flex;
  align-items: center;
  margin-top: 1em;
}

#filter
{
  font-family: 'Poppins', sans-serif;
  font-size: 1em;
  border: 2px solid #d1d3d4;
  padding: 0.3em 0.5em;
  color: #000000;
  font-weight: 500;
  background-color: white;
  border-radius: 0.3em;
  margin-left: 1em;
  outline: none;
}

#clear-all
{
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 16px;
  background-color: #EB1D36;
  color: #fff;
  border: none;
  border-radius: 0.8em;
  cursor: pointer;
  margin-top: 1em;
  height: 30px;
  width: 90px;
}



/* For  Mobile View */
@media (max-width: 768px) {
  body
  {
    font-size: 16px;
  }

  h2
  {
    font-size: 1.5rem;
  }

  .container
  {
    max-width: 90%;
  }
}
